/* about  */
/* Для всіх ефектів ховер і фокуса (колір, фон, тінь) зроблені переходи. 
Час - 250ms, 
функція розподілу часу - 
cubic-bezier(0.4, 0, 0.2, 1). */



/* base style before screen 375px */

.about-title{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #484848;
    margin-bottom: 18px;
    
        }
    
        .subtitle{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #121212;
        }
    
        .sub-container{
            display: flex;
            flex-direction: column;
            gap: 14px;
        }

/* =================== ADAPTIVE ===================== */

@media screen and (min-width: 375px) {
    .container {
        max-width: 365px;
    }

    
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }
    /* .container.mini-container {
        max-width: 734px;
    } */
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1406px;
    }
    /* .container.mini-container {
        max-width: 1158px;
    } */
}