<section class="rest-menu">
<div class="container">
<h1 class="head-title">RESTAURANT MENU</h1>
<div class="section-menu swiper-menu">
    <div class="hot-meals box">
        <div class="line">
            <div class="section-title">HOT MEALS</div>
            <div class="supline">
                <li class="name-meals">Veal borscht with beans</li>
                <p class="weight">400 g</p>
            </div>
            <div class="supline">
                <p class="content">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                <p class="price">240 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals" >Cheese soup with chicken</li>
                <p class="weight">400 g</p>
            </div>
            <div class="supline">
                <p class="content">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                <p class="price">200 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">Carbonara pasta</li>
                <p class="weight">400 g</p>
            </div>
            <div class="supline">
                <p class="content">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                <p class="price">430 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">Pork steak</li>
                <p class="weight">400 g</p>
            </div>
            <div class="supline">
                <p class="content">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                <p class="price">500 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">Gorbusha in white wine sauce</li>
                <p class="weight">400 g</p>
            </div>
            <div class="supline">
                <p class="content">Tender redfish, cream sauce based on white wine</p>
                <p class="price">400 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
    </div>
    
    <div class="snacks box">
        <div class="section-title">SIDE DISHES AND SNACKS</div>
        <div>
            <div class="supline">
                <li class="name-meals">Baked vegetables</li>
                <p class="weight">200 g</p>
            </div>
            <div class="supline">
                <p class="content">Zucchini, pepper, tomato, eggplant</p>
                <p class="price">230 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">French fries</li>
                <p class="weight">150 g</p>
            </div>
            <div class="supline">
                <p class="content">Potatoes, tomato sauce</p>
                <p class="price">160 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">Peasant-style potatoes</li>
                <p class="weight">150 g</p>
            </div>
            <div class="supline">
                <p class="content">Potatoes, spices, spicy sauces</p>
                <p class="price">160 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">Crisp pickles from the barrel</li>
                <p class="weight">250 g</p>
            </div>
            <div class="supline">
                <p class="content">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                <p class="price">350 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">Chicken wings in honey sauce</li>
                <p class="weight">400 g</p>
            </div>
            <div class="supline">
                <p class="content">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                <p class="price">350 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
    </div>
    <div class="salads box">
        <div class="section-title">SALADS</div>
        <div>
            <div class="supline">
                <li class="name-meals">Caesar with chicken</li>
                <p class="weight">230 g</p>
            </div>
            <div class="supline">
                <p class="content">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                <p class="price">450 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">Caesar with shrimp</li>
                <p class="weight">230 g</p>
            </div>
            <div class="supline">
                <p class="content">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                <p class="price">300 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals"> Greek salad</li>
                <p class="weight">230 g</p>
            </div>
            <div class="supline">
                <p class="content">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                <p class="price">280 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div>
            <div class="supline">
                <li class="name-meals">Meat salad</li>
                <p class="weight">230 g</p>
            </div>
            <div class="supline">
                <p class="content">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                <p class="price">300 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
    </div>
    <div class="desserts box">
        <div class="section-title">DESSERTS</div>
        <div>
            <div class="supline">
                <li class="name-meals">Napoleon cake</li>
                <p class="price">200 UAH</p>
            </div>
            <hr class="hr-line">
            <div class="supline">
                <li class="name-meals">Poppy cake</li>
                <p class="price">300 UAH</p>
            </div>
            <hr class="hr-line">
            <div class="supline">
                <li class="name-meals">Tiramisu</li>
                <p class="price">260 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
        <div class="section-title">DRINKS</div>
        <div>
            <div class="supline">
                <li class="name-meals">Black/green tea</li>
                <p class="price">100 UAH</p>
            </div>
            <hr class="hr-line">
            <div class="supline">
                <li class="name-meals">Espresso</li>
                <p class="price">100 UAH</p>
            </div>
            <hr class="hr-line">
            <div class="supline">
                <li class="name-meals">Cappuccino</li>
                <p class="price">100 UAH</p>
            </div>
            <hr class="hr-line">
        </div>
    </div>
</div>
<button class="btn-book-menu" data-modal-table-open-o>BOOK A TABLE</button>
</div>
</section>