<section>
    <h1>RESTAURANT MENU</h1>
    <h3>HOT MEALS</h3>
    <ul>
        <div>
            <li>Veal borscht with beans</li>
            <li>Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</li>
        </div>
        <div>
            <li>Cheese soup with chicken</li>
            <li>Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</li>
        </div>
        <div>
            <li>Carbonara pasta</li>
            <li>Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</li>
        </div>
        <div>
            <li>Pork steak</li>
            <li>Pork tenderloin, spices, served with sweet chili sauce and vegetables</li>
        </div>
        <div>
            <li>Gorbusha in white wine sauce</li>
            <li>Tender redfish, cream sauce based on white wine</li>
        </div>
    </ul>

     <h3>SALADS</h3>
    <ul>
        <div>
            <li>Caesar with chicken</li>
            <li>Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</li>
        </div>
        <div>
            <li>Caesar with shrimp</li>
            <li>Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</li>
        </div>
        <div>
            <li>Greek salad</li>
            <li>Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</li>
        </div>
        <div>
            <li>Meat salad</li>
            <li>Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</li>
        </div>
        <div>
            <li></li>
            <li></li>
        </div>
    </ul>

     <h3>SIDE DISHES AND SNACKS</h3>
    <ul>
        <div>
            <li>Baked vegetables</li>
            <li>Zucchini, pepper, tomato, eggplant</li>
        </div>
        <div>
            <li>French fries</li>
            <li>Potatoes, tomato sauce</li>
        </div>
        <div>
            <li>Peasant-style potatoes</li>
            <li>Potatoes, spices, spicy sauces</li>
        </div>
        <div>
            <li>Crisp pickles from the barrel</li>
            <li>Salted cucumber, pickled tomato, sauerkraut, Korean carrot</li>
        </div>
        <div>
            <li>Chicken wings in honey sauce</li>
            <li>Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</li>
        </div>
    </ul>

     <h3>DESSERTS</h3>
    <ul>
        <div>
            <li>Napoleon cake</li>
            <li></li>
        </div>
        <div>
            <li>Poppy cake</li>
            <li></li>
        </div>
        <div>
            <li>Tiramisu</li>
            <li></li>
        </div>
       
    </ul>
    <h3>DRINKS</h3>
    <ul>
        <li>Black/green tea</li>
        <li>Espresso</li>
        <li>Cappuccino</li>
    </ul>
</section>