/* general */

/* Для всіх ефектів ховер і фокуса (колір, фон, тінь) зроблені переходи. 
Час - 250ms, 
функція розподілу часу - 
cubic-bezier(0.4, 0, 0.2, 1). */

.amenities {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container {
}

.amenities-container{
    text-align: start;
}

.amenities-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px;
}

.amenities-item {
}

.amenities-subtitle {
}

.general-amenities-list {
}

.amenities-text {
}

.bathroom-amenities-list {
}

.bedroom-amenities-list {
}

.kitchen-amenities-list {
}

.media-amenities-list {
}

.amenities-btn {
}




/* =================== ADAPTIVE ===================== */

@media screen and (min-width: 375px) {
    .container {
        max-width: 365px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }
    /* .container.mini-container {
        max-width: 734px;
    } */
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1406px;
    }
    /* .container.mini-container {
        max-width: 1158px;
    } */
}