/* general */

/* Для всіх ефектів ховер і фокуса (колір, фон, тінь) зроблені переходи. 
Час - 250ms, 
функція розподілу часу - 
cubic-bezier(0.4, 0, 0.2, 1). */


.general-amenities {
  background-color: var(--dark-background-color);
}

.general-amenities-container {
}
.visually-hidden {
}
.general-amenities-list {
}

.general-amenities-item {
}
.general-amenities-subtitle {
  color: var(--typical-suptitle-color);
  font-family: 'DMSans-Bold-700', sans-serif;
  font-size: 28px;
  line-height: calc(32/28);
  letter-spacing: -0.02em;
}
.amenities-list {
}
.amenities-text {
  color: var(--typical-light-color);
  font-size: 14px;
  line-height: calc(18/14);
  letter-spacing: -0.02em;
}
.amenities-images-list {
}

.amenities-images-item {
  max-width: 207px;
  height: 103px;
}

.amenities-images-item .amenities-img {
  max-width: 259px;
  height: 333px;
}

.amenities-btn {
}

/* =================== ADAPTIVE ===================== */

@media screen and (min-width: 375px) {
  .container {
    max-width: 365px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 734px;
  }
/* .container.mini-container {
        max-width: 734px;
    } */


  .amenities-images-item {
  max-width: 365px;
  height: 182px;
}

.amenities-images-item .amenities-img {
  max-width: 408px;
  height: 525px;
}
  
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1406px;
  }
  /* .container.mini-container {
        max-width: 1158px;
    } */
}
