/* menu */
.item-one {
    font-family: 'DM Sans', sans-serif;
}
.item-two {
    font-family: 'GeometriaRegular';
}
.item-three {
    font-family: 'DMSans-Bold';
}
.item-four {
    font-family: 'DMSans-BoldItalic';
    font-style: italic;
}
.item-five {
    font-family: 'DMSans-Italic';
    font-style: italic;
}
.item-six {
    font-family: 'DMSans-Medium';
}
.item-seven {
    font-family: 'DMSans-MediumItalic';
    font-style: italic;
}
.item-eight {
}






/* =================== ADAPTIVE ===================== */

@media screen and (min-width: 375px) {
    .container {
        max-width: 365px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }
    /* .container.mini-container {
        max-width: 734px;
    } */
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1406px;
    }
    /* .container.mini-container {
        max-width: 1158px;
    } */
}