<!-- section about -->

<section class="about">
    <div class="container">
    <div>
    <ul>
        <li> <img src="" alt="lobby" width="335px" height="442px"></li>
        <li> <img src="" alt="bath" width="282px" height="153px"></li>
        <li> <img src="" alt="review" width="212px" height="61"></li>
    </ul>
    </div>
    <h2 class="about-title">restaurant-hotel complex</h2>
    <div class="sub-container">
    <p class="subtitle">Indulge in a taste of luxury with every bite at Hotel Mimino. 
        From the freshest seafood to the most succulent steaks, 
        every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
    <p class="subtitle">Treat yourself to a taste of the good life and come dine with us today!</p>
</div>
    </div>
    <div class="container">
        <div>
            <ul>
                <li> 
                    <img src="" alt="" width="335px" height="311">
                    <h3 class="about-title">business class hotel</h3>
                    <p class="subtitle">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
                </li>
                <li> <img src="" alt="" width="335px" height="309px"></li>
                <li> <img src="" alt="" width="212px" height="61"></li>
            </ul>
            </div>
            
    </div>
</section>