<!-- section about -->

<section class="about-hotel">
    <div class="container">
        <h2 class="about-goust-title">Restaurant-hotel complex</h2>
    <div>
    <ul class="about-home-list">
        <li class="lobby-image-about"> 
            <img src="../img/mobile/lobby-1x.jpg" alt="lobby" width="335px" height="442px">
            <div class="reviews">
                <div class="reviews-item">
                    <img src="../img/mobile/Maria-1x.png" alt="" width="41" height="41">
                </div>
                <div class="maria-rating">
                    <p class="name-reviews">Maria</p>
                    <p class="rating-reviews">give rating <span class="rating-number">4.5</span></p></div>
            </div>
        </li>
        <li class="bath-image-about"> 
            <img src="../img/mobile/bath-1x.jpg" alt="bath" width="282px" height="153px">
        </li>
    </ul>
    </div>
    <div class="complex-text-container">
    <h3 class="about-home-title">restaurant-hotel complex</h3>
    <div class="sub-container">
    <p class="about-home-subtitle">Indulge in a taste of luxury with every bite at Hotel Mimino. 
        From the freshest seafood to the most succulent steaks, 
        every dish is crafted with care to ensure that you enjoy a truly memorable dining experience.</p>
    <p class="about-home-subtitle">Treat yourself to a taste of the good life and come dine with us today!</p>
</div>
</div>
    </div>
    <div class="container">
        <div>
            <ul>
                <li class="buisnes-image-list"> 
                    <img src="../img/mobile/tabel.jpg" alt="" width="335px" height="311">
                    <div class="reviews-alex">
                        <div class="reviews-item">
                            <img class="alex" src="../img/mobile/alexandr-mobile-1x.jpg" alt="" width="41" height="41" >
                        </div>
                        <div class="maria-rating">
                            <p class="name-reviews">Alexander</p>
                            <p class="rating-reviews">give rating <span class="rating-number">5.5</span></p></div>
                    </div>
                    <div class="busines-text-container">
                    <h3 class="about-home-title">business class hotel</h3>
                    <p class="about-home-subtitle">The Mimino hotel features spacious and stylish double luxury rooms with 
                    modern amenities for a comfortable stay.</p>
                    </div>
                </li>
                <li> <img src="../img/mobile/restoran-1x.jpg" alt="" width="335px" height="309px"></li>
            </ul>
            </div>
            
    </div>
</section>