<header class="header">
    <div class="container header-container">
        <div class="header-navigation">            
            <ul class="header-list list">
                <li class="header-item"><a href="../page-hotel.html" class="header-link link current">Hotel</a></li>
                <li class="header-item"><a href="../page-restaurant.html" class="header-link link">Restaurant</a></li>
                <li class="header-item"><a href="../page-room.html" class="header-link link">Room</a></li>
            </ul>
        </div>
        <div class="header-logo">
            <a class="logo link logotype" href="../page-home.html" target="_blank"></a>
            <p class="header-logo-title">MIMINO<span class="header-logo-subtitle">RESTAURANT-HOTEL COMPLEX</span></p>            
        </div>
        <div class="header-social">
            <ul class="header-soc-list list">
                <li class="header-soc-item">
                    <a href="" class="header-soc-link link">
                    <svg class="header-soc-icon" width="24" height="24">
                    <use href="./.svg#icon-instagram"></use>
                    </svg></a></li>
                <li class="header-soc-item">
                    <a href="" class="header-soc-link link">
                    <svg class="header-soc-icon" width="24" height="24">
                    <use href="./.svg#icon-twitter"></use>
                    </svg></a></li>
                <li class="header-soc-item">
                    <a href="" class="header-soc-link link">
                    <svg class="header-soc-icon" width="24" height="24">
                    <use href="./.svg#icon-facebook"></use>
                    </svg></a></li>                    
            </ul>
        </div>
    </div>
</header>
