
<section class="section hotel">
  <div class="container">
    <div class="hotel-title-btn">
      <h2 class="hotel-title">HOTEL</h2>
      <p class="hotel-description">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
      <div class="hotel-btn-list">
        <ul class="hotel-buttons-desk">
          <li class="hotel-btn-item">
            <button type="button" class="hotel-btn">Book a room</button>
          </li>
          <li>
            <a href="./page-hotel.html"
              ><button class="hotel-btn">View rooms</button></a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="hotel-images-tab">
      <div class="hotel-images-item">
        <img src="./img/desktop/soap-desktop-2x-320-260px.jpg" alt="" />
        <img src="./img/desktop/bathroom-desktop-2x-320-260px.jpg" alt=""/>
      </div>
      <div>
        <img src="./img/desktop/bedroom-desktop-2x-420-548px.jpg" alt=""/>
      </div>
      <div class="hotel-images-item">
        <img src="./img/desktop/bathroom5-desktop-2x-320-260px.jpg" alt=""/>
        <img src="./img/desktop/soap2-desktop-2x-320-260px.jpg" alt=""/>
      </div>
    </div>
    <ul class="hotel-buttons-mob">
      <li class="hotel-btn-item">
        <button type="button" class="hotel-btn">Book a room</button>
      </li>
      <li>
            <a href="page-hotel.html"
              ><button class="hotel-btn">View rooms</button></a>
          </li>
        </section>