section
<section class="section hotel">
  <div class="container">
    <div class="hotel-title-btn">
      <h2 class="hotel-title">HOTEL</h2>
      <p class="hotel-description">
        Book your stay with us now and experience the epitome of comfort and
        luxury at our hotel. We guarantee you'll be thrilled with your decision.
      </p>
      <div class="hotel-btn-list">
        <ul class="hotel-buttons-desk">
          <li class="hotel-btn-item">
            <button type="button" class="hotel-btn">Book a room</button>
          </li>
          <li>
            <a href="page-hotel.html"
              ><button class="hotel-btn">View rooms</button></a
            >
          </li>
        </ul>
      </div>
    </div>

    <div>
      <div class="hotel-images">
        <img src="../img/vite-logo.png" alt="" width="335px" />
      </div>
      <div>
        <img src="../img/vite-logo.png" alt="" width="158" />
        <img src="../img/vite-logo.png" alt="" width="158" />
      </div>
      <div>
        <img src="../img/vite-logo.png" alt="" width="158" />
        <img src="../img/vite-logo.png" alt="" width="158" />
      </div>
    </div>
    <ul class="hotel-buttons-mob">
      <li class="hotel-btn-item">
        <button type="button" class="hotel-btn">Book a room</button>
      </li>
  </div>
</section>

<!-- <section>
  <div class="container">
    <h2 class="section-title">Location</h2>
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9232137442787!2d34.52435761547751!3d49.599197456213396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2sMarshala%20Biryuzova%20St%2C%2015%2C%20Poltava%2C%20Poltavs&#39;ka%20oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1677318339280!5m2!1sen!2sua"
      width="640"
      height="524"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <ul>
      <li>Ukraine, Poltava, St. Marshal Biryuzov, 15</li>
      <li>
        <a href="page-hotel.html"
          ><button class="hotel-btn">View rooms</button></a
        >
      </li>
    </ul>
  </div>
</section> -->
