<section class="about-rest">
  <div class="container">
    <div class="about-inline">
      <h1 class="about-rest-title">RESTAURANT</h1>
      <h3 class="about-rest-subtitle">
        Relax and unwind with our delicious offerings, available any time of
        day.
      </h3>
      <div class="restaurant-button">
        <button class="btn-book-table" data-modal-table-open-s>
          BOOK A TABLE
        </button>
        <a class="btn-book-table" href="./page-restaurant.html"
          >VIEW THE MENU</a
        >
      </div>
    </div>
    <div class="swiper">
      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>

      <div class="swiper-item"> 
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>

      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>

      <div class="swiper-item">
        <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
      </div>


      <div class="swiper-item">
          <picture>
          <source srcset="  
          ./img/mobile/drink-mobile-1x-157-201px.jpg 1x,
          ./img/mobile/drink-mobile-2x-157-201px.jpg 2x" 
          media="(max-width: 768px)">
          
          <source srcset="
          ./img/tablet/drink-tablet-1x-336-309px.jpg 1x,
          ./img/tablet/drink-tablet-2x-336-309px.jpg 2x"
           media="(max-width: 1135px)">

          <source srcset="
          ./img/desktop/drink-desktop-1x-266-309px.jpg 1x,
          ./img/desktop/drink-desktop-2x-266-309px.jpg 2x "
           media="(min-width: 1136px)">
          <img 
          src="./img/desktop/drink-desktop-1x-266-309px.jpg" 
          alt="drink">
        </picture>
            
      </div>
    </div>

    <div class="arrow-about">
      <button class="arrow-left">
        <svg class="arrow-left-icon" width="7px" height="14px">
          <use href="./img/svg/symbol-defs.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button class="arrow-right">
        <svg class="arrow-right-icon" width="7px" height="14px">
          <use href="./img/svg/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
