<!-- section --><section>
    <div class="container">
    <h1>RESTAURANT</h1>
    <h3>Relax and unwind with our delicious offerings, available any time of day.</h3>
    <button>book a table</button>
    <button>View the menu</button>
    <ul>
        <li><img src="./img/mobile/drink-mobile-1x-157-201px.jpg" alt=""></li>
        <li><img src="./img/mobile/" alt=""></li>
        <li><img src="./img/mobile/" alt=""></li>
        <li><img src="./img/mobile/man-cooc-mobile-1px-158-201px.jpg" alt=""></li>
        <li><img src="./img/mobile/" alt=""></li>
    </ul>
     <a href="#">
        <svg class="team-cards-icon" width="16px" height="16px">
          <use href="./images/icons.svg#icon-linkedin"></use>
                      </svg>
                    </a>
    </div>
</section>