
<!------------Triple-------------->
<section class="tripple">
 <div class="container">
    <div class="triple-photos">
        <ul>
            <li></li> 
            <li></li> 
            <li></li> 
        </ul>
    </div>
    <div class="triple-info">
        <div class="triple-info-button">
        <button class="triple-button" type="button">More details</button>
        <button class="triple-button" type="button">View prices</button>
        </div>
        <div class="triple-text-info">
        <h2 class="title-triple">Triple Room</h2>
        <div class="triple-text-div">
        <p class="text-triple">Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
        <p class="text-triple">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
        </div>
        </div>
    </div>
 </div>
</section>