
<!------------Triple-------------->  
<section class="tripple">

 <div class="container">
    <div class="triple-photos">
        <ul class="triple-list-photo">
            <li class="triple-item-1"><img src="../img/tablet/bathroom-tablet-1x.jpg" alt="photo" ></li> 
            <li class="triple-item-2"><img src="../img/tablet/house1-tablet-1x.jpg" alt="photo" ></li> 
            <li class="triple-item-3"><img src="../img/tablet/bathroom-tablet-1x.jpg" alt="photo" ></li> 
        </ul>
    </div>
    <div class="triple-info-text">
        <ul class="triple-button-list">
        <li class="triple-button-item"> <a class="triple-button-link" href="../page-room.html">More details</a></li>
        <li class="triple-button-item"> <button class="triple-button" type="button">View prices</button></li>
        </ul>

        <div class="triple-text-info">
        <h2 class="title-triple">TRIPLE ROOM</h2>
        <ul class="triple-text-div">
            <li class="tripple-text-div">
        <p class="text-triple">Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
            </li>
        <li class="tripple-text-div">
        <p class="text-triple">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
        </li>
        </ul>
        </div>
    </div>
</div>
</section>

