
<!------------Triple-------------->
<section class="tripple">
 <div class="container">
    <div class="triple-info">
    <div class="triple-photos">
        <ul>
            <li><img src="/./src/img/tablet/bathroom-tablet-1x.jpg" alt="photo" width="386" height="395"></li> 
            <li><img src="/src/img/tablet/bokali2-mobile-1x.jpg" alt="photo" width="386" height="395"></li> 
            <li><img src="/src/img/tablet/bokali2-mobile-1x.jpg" alt="photo" width="386" height="395"></li> 
        </ul>
    </div>
    <div class="triple-info-text">
        <div class="triple-info-button">
        <a class="triple-button-link" href="/src/page-room.html">More details</a>
        <button class="triple-button" type="button">View prices</button>
        </div>
        <div class="triple-text-info">
        <h2 class="title-triple">Triple Room</h2>
        <div class="tripple-text-container">
        <ul class="triple-text-div">
            <li class="tripple-text-div">
        <p class="text-triple">Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
            </li>
        <li class="tripple-text-div">
        <p class="text-triple">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
        </li>
        </ul>
        </div>
        </div>
    </div>
 </div>
</div>
</section>